n8n-workflows/asus-dev-workflow.json
{
  "name": "asus-dev-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-inprogress",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "53d8fa6c-1fc8-4cb1-bc0b-5304ef4ad5fe",
      "name": "Webhook",
      "webhookId": "4ddc611a-fc45-47a9-82fc-fb36cd6076bf"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst issue = payload.issue ?? {};\nconst fields = issue.fields ?? {};\n\nconst status = fields.status?.name ?? '';\nif (status !== 'In Progress') {\n  return [];\n}\n\nconst summary = fields.summary ?? '';\nconst descText = JSON.stringify(fields.description ?? '');\n\n// 手動票略過，不觸發 Claude API（2026-07-05 修訂：改讀票面 ExecMode：欄位，不再依賴 summary 裡的 [手動] 字樣，因為新版標題不含執行方式標籤）\nconst execModeMatch = descText.match(/ExecMode[：:]\\s*([^\\s\"\\\\]+)/);\nconst execMode = execModeMatch ? execModeMatch[1] : '';\nif (execMode.includes('手動')) {\n  return [];\n}\n\nconst tddMatch = descText.match(/測試命名[：:]\\s*`?([^`\\n\"]+)`?/);\nconst tddDod = tddMatch ? tddMatch[1].trim() : '';\n\nconst slugMatch = descText.match(/Slug[：:]\\s*([^\\s\"\\\\]+)/);\nconst slug = slugMatch ? slugMatch[1] : '';\n\nconst taskIdMatch = descText.match(/TaskId[：:]\\s*[^\\s#\"\\\\]+#([^\\s#\"\\\\]+)#(T\\d+)/);\nconst sourceFile = taskIdMatch ? taskIdMatch[1] : '';\nconst taskId = taskIdMatch ? taskIdMatch[2] : '';\n\nreturn [{\n  json: {\n    jiraKey: issue.key ?? '',\n    summary,\n    tddDod,\n    slug,\n    taskId,\n    sourceFile,\n    jiraUrl: `https://prostyliu.atlassian.net/browse/${issue.key}`,\n    issueId: issue.id ?? '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "bc1dd024-599d-4be5-bb4d-67492bab83dd",
      "name": "解析票面"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\_spec\\\\' + $('解析票面').first().json.slug + '\\\\tasks-backend.md' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "continueOnFail": true,
      "position": [
        368,
        0
      ],
      "id": "a1b2c3d4-0001-4aaa-9001-000000000001",
      "name": "讀取 tasks-backend.md"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\_spec\\\\' + $('解析票面').first().json.slug + '\\\\tasks-devops.md' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "continueOnFail": true,
      "position": [
        544,
        0
      ],
      "id": "a1b2c3d4-0002-4aaa-9002-000000000002",
      "name": "讀取 tasks-devops.md"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\_spec\\\\' + $('解析票面').first().json.slug + '\\\\tasks-qa.md' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "continueOnFail": true,
      "position": [
        720,
        0
      ],
      "id": "a1b2c3d4-0003-4aaa-9003-000000000003",
      "name": "讀取 tasks-qa.md"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('解析票面').first().json;\nconst taskId = ticket.taskId;\nconst sourceFile = ticket.sourceFile;\n\nconst fileNodeMap = {\n  'tasks-backend.md': '讀取 tasks-backend.md',\n  'tasks-devops.md': '讀取 tasks-devops.md',\n  'tasks-qa.md': '讀取 tasks-qa.md',\n};\n\nfunction extractBlock(content, id) {\n  if (!content) return null;\n  const startRe = new RegExp('^### ' + id + ' — ', 'm');\n  const startMatch = content.match(startRe);\n  if (!startMatch) return null;\n  const startIdx = startMatch.index;\n  const rest = content.slice(startIdx);\n  const firstNewline = rest.indexOf('\\n');\n  const remainder = firstNewline >= 0 ? rest.slice(firstNewline + 1) : '';\n  const nextMatch = remainder.match(/\\n### T\\d+ /);\n  const block = nextMatch ? rest.slice(0, firstNewline + 1 + nextMatch.index) : rest;\n  return block.trim();\n}\n\nif (!taskId) {\n  throw new Error('票面缺少 TaskId，無法定位任務區塊（檢查 Jira Description 是否有 TaskId：<slug>#<sourceFile>#<taskId> 這行）');\n}\nif (!sourceFile || !fileNodeMap[sourceFile]) {\n  throw new Error(`票面 TaskId 缺少合法的 sourceFile（收到：${sourceFile}），無法定位是 tasks-backend.md/tasks-devops.md/tasks-qa.md 哪一份，不可用「同編號猜測」避免抓錯任務`);\n}\n\n// 2026-07-05 修正：taskId（T01、T02...）是各檔案獨立編號，backend/devops/qa 可能有同編號的不同任務，\n// 必須用票面明確指定的 sourceFile 直接讀該檔案，不能依序嘗試三份檔案（會誤抓到第一個符合編號的區塊）。\nconst content = $(fileNodeMap[sourceFile]).first().json.content;\nconst block = extractBlock(content, taskId);\nif (!block) {\n  throw new Error(`在 ${sourceFile} 裡找不到 ${taskId} 對應的任務區塊`);\n}\n\nreturn [{ json: { taskBody: block, sourceFile } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "a1b2c3d4-0004-4aaa-9004-000000000004",
      "name": "擷取任務區塊"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\_spec\\\\' + $('解析票面').first().json.slug + '\\\\spec.md' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        0
      ],
      "id": "3d32ef7e-c5a1-4d7f-bc1e-a072120a5afe",
      "name": "讀取 spec"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\_spec\\\\' + $('解析票面').first().json.slug + '\\\\design.md' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        0
      ],
      "id": "0329529b-b9ca-4148-a8ec-94c05715112d",
      "name": "讀取 design"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\package.json' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1336, 0],
      "id": "d0000001-3333-4ccc-9001-000000000001",
      "name": "讀取 package.json"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('解析票面').first().json;\nconst specContent = $('讀取 spec').first().json.content ?? '';\nconst designContent = $('讀取 design').first().json.content ?? '';\nconst taskBody = $('擷取任務區塊').first().json.taskBody ?? '';\nconst sourceFile = $('擷取任務區塊').first().json.sourceFile ?? '';\n\nlet availableDeps = [];\ntry {\n  const pkgRaw = $('讀取 package.json').first().json.content ?? '{}';\n  const pkg = JSON.parse(pkgRaw);\n  availableDeps = Object.keys({ ...(pkg.dependencies ?? {}), ...(pkg.devDependencies ?? {}) });\n} catch (e) {\n  availableDeps = [];\n}\n\nconst systemPrompt = `你是一位嚴格遵循 TDD 紀律的 TypeScript 後端工程師。\n你必須依照以下規範產出程式碼：\n- 函式長度上限 50 行\n- 所有錯誤處理必須有繁體中文上下文，禁止 silent fail\n- 測試命名格式：應該_<預期行為>_當<條件>\n- 禁止直接產出業務邏輯，必須先產出測試檔案\n\n目前 package.json 已安裝的依賴（優先使用這些，不要無故引入新套件）：\n${availableDeps.join(', ') || '（無）'}\n\n如果任務**必須**使用一個不在上面清單裡的套件才能完成，才可以在輸出裡列出 additional_dependencies，\nAgent Runner 會在寫入測試檔前自動執行 npm install。禁止在沒有列出的情況下於程式碼中 import 未安裝的套件。\n\n你的輸出必須是嚴格的 JSON 格式：\n{\n  \"test_file_path\": \"test/xxx.test.ts\",\n  \"test_file_content\": \"（完整測試檔案內容）\",\n  \"impl_file_path\": \"src/xxx.ts\",\n  \"impl_file_content\": \"（完整業務邏輯內容）\",\n  \"additional_dependencies\": [\"套件名稱\"],\n  \"commit_message\": \"feat(backend): [票號] 實作功能描述\"\n}\n\"additional_dependencies\" 沒有需要時請輸出空陣列 []，不可省略此欄位。`;\n\nconst userPrompt = `Jira 票號：${ticket.jiraKey}\n任務標題：${ticket.summary}\nTDD 完成定義：${ticket.tddDod}\n\n完整任務內容（含依賴與所有驗收條件）：\n${taskBody}\n\n規格文件內容：\n${specContent}\n\n設計文件內容：\n${designContent}\n\n請依照上述規格，產出這張票的測試檔案與業務邏輯實作。`;\n\nreturn [{ json: { systemPrompt, userPrompt, jiraKey: ticket.jiraKey, jiraUrl: ticket.jiraUrl, issueId: ticket.issueId, summary: ticket.summary, slug: ticket.slug, taskId: ticket.taskId, sourceFile } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        0
      ],
      "id": "d4f1fbe7-bba1-41cb-8698-9e50cf28b543",
      "name": "組裝 Prompt"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    claudeBody: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 8192,\n      system: item.systemPrompt,\n      messages: [{ role: 'user', content: item.userPrompt }]\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "91f26f2f-d317-4261-be0a-88bd756b4dfa",
      "name": "準備 Claude Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        0
      ],
      "id": "e728bda0-e806-41f0-a30a-01b34b8c67e1",
      "name": "呼叫 Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JwXk0zNVIaFGavnY",
          "name": "claude-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content?.[0]?.text ?? '';\n\nif (response.stop_reason === 'max_tokens') {\n  throw new Error('Claude 回應被 max_tokens 截斷，尚未產出完整 JSON。請提高 準備 Claude Body 節點的 max_tokens 設定。回應片段：' + rawText.slice(-300));\n}\n\nconst jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error('Claude 回應無法解析為 JSON：' + rawText.substring(0, 200));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error('Claude 回應 JSON 解析失敗（可能被截斷或格式錯誤）：' + e.message + ' | 回應結尾：' + rawText.slice(-300));\n}\n// 防禦性修復：Claude 偶爾會漏掉 impl_file_path（尤其在同時要求 additional_dependencies 時），\n// 但測試檔一定會 import 實作檔案，路徑資訊其實都在，用這個推斷取代直接失敗重跑。\nif (!parsed.impl_file_path && parsed.test_file_content) {\n  const importMatch = parsed.test_file_content.match(/from\\s+['\"](\\.\\.[^'\"]+)['\"]/);\n  if (importMatch) {\n    let inferred = importMatch[1].replace(/^\\.\\.\\//, '');\n    if (!/\\.[a-zA-Z]+$/.test(inferred)) inferred += '.ts';\n    parsed.impl_file_path = inferred;\n    parsed._impl_file_path_inferred = true;\n  }\n}\n\nconst required = ['test_file_path', 'test_file_content', 'impl_file_path', 'impl_file_content', 'commit_message'];\nconst missing = required.filter(k => !parsed[k]);\n\nif (missing.length > 0) {\n  throw new Error(`Claude 回應缺少必要欄位：${missing.join(', ')}（impl_file_path 自動推斷也失敗，測試檔內容裡找不到符合的 import 路徑）`);\n}\n\nconst additionalDependencies = Array.isArray(parsed.additional_dependencies) ? parsed.additional_dependencies.filter(Boolean) : [];\n\nconst prev = $('準備 Claude Body').first().json;\nreturn [{\n  json: {\n    ...parsed,\n    additionalDependencies,\n    jiraKey: prev.jiraKey,\n    jiraUrl: prev.jiraUrl,\n    issueId: prev.issueId,\n    summary: prev.summary,\n    slug: prev.slug,\n    taskId: prev.taskId,\n    sourceFile: prev.sourceFile,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        0
      ],
      "id": "2109dbfa-9125-4e69-ba70-a4841c282abe",
      "name": "解析回應"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            { "id": "has-deps", "leftValue": "={{ $json.additionalDependencies.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2020, 160],
      "id": "d0000002-3333-4ccc-9002-000000000002",
      "name": "Guard IF - Has Additional Deps"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ command: 'npm install ' + $json.additionalDependencies.join(' '), cwd: 'D:/06_Workspace/Workspace_GitHub/xu3clayu83ire/alag-addyosmani-demos/awtw-short-url-service-agent' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2160, 80],
      "id": "d0000003-3333-4ccc-9003-000000000003",
      "name": "npm install 額外依賴"
    },
    {
      "parameters": {
        "jsCode": "const item = $('解析回應').first().json;\nconst basePath = 'D:/06_Workspace/Workspace_GitHub/xu3clayu83ire/alag-addyosmani-demos/awtw-short-url-service-agent';\n\nreturn [{\n  json: {\n    ...item,\n    body_gitCheckout: JSON.stringify({\n      command: 'git checkout main && git pull origin main && git checkout -b feature/' + item.jiraKey,\n      cwd: basePath\n    }),\n    body_writeTest: JSON.stringify({\n      filePath: basePath + '/' + item.test_file_path,\n      content: item.test_file_content\n    }),\n    body_runTest: JSON.stringify({\n      command: 'npm run test',\n      cwd: basePath\n    }),\n    body_writeImpl: JSON.stringify({\n      filePath: basePath + '/' + item.impl_file_path,\n      content: item.impl_file_content\n    }),\n    body_gitCommit: JSON.stringify({\n      command: 'git add . && git commit -m ' + JSON.stringify(item.commit_message) + ' && git push origin feature/' + item.jiraKey,\n      cwd: basePath\n    }),\n    body_githubPR: JSON.stringify({\n      title: '[' + item.jiraKey + '] ' + item.summary,\n      head: 'feature/' + item.jiraKey,\n      base: 'main',\n      body: '## ASUS 自動產生 PR\\n\\n- Jira：' + item.jiraUrl + '\\n- 由 ASUS Phase 3 自動建立\\n\\n## TDD 驗證\\n- 紅燈確認（測試先 Fail）\\n- 綠燈確認（測試全數 Pass）'\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        0
      ],
      "id": "4c58af21-09bf-4819-b71f-4e9e99a25309",
      "name": "準備所有 Bodies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_gitCheckout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2304,
        0
      ],
      "id": "15459dae-adef-496d-972a-e4d483c83a0d",
      "name": "git checkout"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "checkout-ok", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2304, 160],
      "id": "c0000001-2222-4bbb-9001-000000000001",
      "name": "Guard IF - Checkout 成功"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2480, 320],
      "id": "c0000002-2222-4bbb-9002-000000000002",
      "name": "中止（Checkout 失敗，Jira 保持 In Progress）"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/write-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_writeTest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2480,
        0
      ],
      "id": "572a5a52-32b4-4178-a1c0-92226e6fe893",
      "name": "寫入測試"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_runTest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2656,
        0
      ],
      "id": "183c77a4-969f-4594-8724-b87b786e8c01",
      "name": "執行測試紅燈"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-0001-0001-0001",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        0
      ],
      "id": "0edf0bef-3728-4e13-a096-feda8e2d6ea1",
      "name": "紅燈確認"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst output = (item.stdout ?? '') + '\\n' + (item.stderr ?? '');\n\n// 2026-07-05 修正：「Failed to load url ../src/xxx」在紅燈階段是正常現象（實作檔案本來就還沒寫），\n// 不能一律當環境錯誤。真正的環境錯誤是「找不到的是套件名稱」（不是本地相對路徑）。\nfunction isLocalPath(spec) { return /^[./]/.test((spec || '').trim()); }\n\nconst failedToLoadMatch = output.match(/Failed to load url ([^\\s(]+)/i);\nconst cannotFindMatch = output.match(/Cannot find module ['\"]?([^'\"\\s]+)['\"]?/i);\nconst target = failedToLoadMatch?.[1] || cannotFindMatch?.[1];\nconst isBarePackageSpecifier = Boolean(target) && !isLocalPath(target);\n\nconst hardEnvErrorPatterns = [\n  /Cannot find package/i,\n  /ERR_MODULE_NOT_FOUND/i,\n  /SyntaxError/i,\n  /ENOENT.*package\\.json/i,\n];\nconst hasHardEnvError = hardEnvErrorPatterns.some(re => re.test(output));\n\nif (hasHardEnvError || isBarePackageSpecifier) {\n  throw new Error(`測試執行失敗是環境問題，不是有效的 TDD 紅燈（缺少套件或環境錯誤：${target || '未知'}）。輸出片段：${output.slice(0, 500)}`);\n}\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2960, 80],
      "id": "d0000004-3333-4ccc-9004-000000000004",
      "name": "檢查環境錯誤（紅燈）"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst output = (item.stdout ?? '') + '\\n' + (item.stderr ?? '');\n\nfunction isLocalPath(spec) { return /^[./]/.test((spec || '').trim()); }\n\nconst failedToLoadMatch = output.match(/Failed to load url ([^\\s(]+)/i);\nconst cannotFindMatch = output.match(/Cannot find module ['\"]?([^'\"\\s]+)['\"]?/i);\nconst target = failedToLoadMatch?.[1] || cannotFindMatch?.[1];\nconst isBarePackageSpecifier = Boolean(target) && !isLocalPath(target);\n\nconst hardEnvErrorPatterns = [\n  /Cannot find package/i,\n  /ERR_MODULE_NOT_FOUND/i,\n  /SyntaxError/i,\n  /ENOENT.*package\\.json/i,\n];\nconst hasHardEnvError = hardEnvErrorPatterns.some(re => re.test(output));\n\nif (hasHardEnvError || isBarePackageSpecifier) {\n  throw new Error(`測試執行失敗是環境問題，不是有效的 TDD 綠燈（缺少套件或環境錯誤：${target || '未知'}）。輸出片段：${output.slice(0, 500)}`);\n}\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3480, 0],
      "id": "d0000005-3333-4ccc-9005-000000000005",
      "name": "檢查環境錯誤（綠燈）"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "id": "green-ok", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3640, 0],
      "id": "d0000006-3333-4ccc-9006-000000000006",
      "name": "綠燈確認"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3640, 240],
      "id": "d0000007-3333-4ccc-9007-000000000007",
      "name": "中止（綠燈未通過，Jira 保持 In Progress）"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        272
      ],
      "id": "cad3e37c-7ddd-4ec9-b229-11fb59cd08d8",
      "name": "TDD 阻斷（測試未 Fail）"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/write-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_writeImpl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3008,
        0
      ],
      "id": "fe758252-3d4e-4359-b072-28eaa6cfb57d",
      "name": "寫入業務邏輯"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_runTest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3184,
        0
      ],
      "id": "4718a1ab-d7a8-4e50-8745-31dca0bee1b1",
      "name": "執行測試綠燈"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_gitCommit }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3360,
        0
      ],
      "id": "d7bc0566-9076-4bf5-92ca-39e9f8c168f6",
      "name": "git commit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xu3clayu83ire/awtw-short-url-service/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_githubPR }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3536,
        0
      ],
      "id": "3a80245f-8340-44d4-ba03-cae11a225fb4",
      "name": "建立 GitHub PR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OePuhCZ5vLp06Gsj",
          "name": "GitHub-Jira-hookasus-phase3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://prostyliu.atlassian.net/rest/api/3/issue/{{ $('準備所有 Bodies').first().json.jiraKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3712,
        0
      ],
      "id": "e0c0f0db-6761-4836-9aff-6cc9042f85f3",
      "name": "取得 Jira Transitions",
      "credentials": {
        "httpBasicAuth": {
          "id": "tZv9PWFKH8dWAJBR",
          "name": "Jira HTTP Basic Auth Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst transitions = response.transitions || [];\nconst target = transitions.find(t =>\n  t.name === 'In Review' ||\n  t.name === 'Review' ||\n  (t.to && t.to.name === 'In Review')\n);\n\nif (!target) {\n  const names = transitions.map(t => t.name).join(', ');\n  throw new Error('找不到 In Review 轉換。可用轉換：' + names);\n}\n\nconst prev = $('準備所有 Bodies').first().json;\nreturn [{\n  json: {\n    jiraKey: prev.jiraKey,\n    jiraTransitionId: target.id,\n    slug: prev.slug,\n    taskId: prev.taskId,\n    sourceFile: prev.sourceFile,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        0
      ],
      "id": "1389dd7d-6897-497b-89a1-da8d549c03c0",
      "name": "解析 Jira Transition"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://prostyliu.atlassian.net/rest/api/3/issue/{{ $json.jiraKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"transition\":{\"id\":\"{{ $json.jiraTransitionId }}\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4064,
        0
      ],
      "id": "8d8251e5-e0b3-49fb-899e-1a6e2fb3c0f2",
      "name": "更新 Jira 狀態",
      "credentials": {
        "httpBasicAuth": {
          "id": "tZv9PWFKH8dWAJBR",
          "name": "Jira HTTP Basic Auth Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: 'D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service-agent\\\\_spec\\\\' + $('解析 Jira Transition').first().json.slug + '\\\\' + $('解析 Jira Transition').first().json.sourceFile }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4240,
        0
      ],
      "id": "a1b2c3d4-0005-4aaa-9005-000000000005",
      "name": "讀取任務檔（回寫用）"
    },
    {
      "parameters": {
        "jsCode": "const taskId = $('解析 Jira Transition').first().json.taskId;\nconst jiraKey = $('解析 Jira Transition').first().json.jiraKey;\nconst slug = $('解析 Jira Transition').first().json.slug;\nconst content = $input.first().json.content ?? '';\nconst filePath = $input.first().json.filePath;\n\nconst headerRegex = new RegExp('(### ' + taskId + ' — .+?)⬜(.*)$', 'm');\nif (!headerRegex.test(content)) {\n  throw new Error(`找不到 ${taskId} 對應的 ⬜ 標頭，可能已經是 ✅ 或格式跑掉，需要人工確認 ${filePath}`);\n}\n\n// 票號註記已在開票階段（T15 回填任務票號）寫入，這裡只需要把圖示改成 ✅，不可重複加註票號\nconst updated = content.replace(headerRegex, (match, before, after) => {\n  return before + '✅' + after;\n});\n\nreturn [{ json: { filePath, content: updated, taskId, jiraKey, slug } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        0
      ],
      "id": "a1b2c3d4-0006-4aaa-9006-000000000006",
      "name": "回寫任務狀態"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/write-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filePath: $json.filePath, content: $json.content }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4592,
        0
      ],
      "id": "a1b2c3d4-0007-4aaa-9007-000000000007",
      "name": "寫回任務檔"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ command: 'git add ' + $('回寫任務狀態').first().json.filePath + ' && git commit -m ' + JSON.stringify('docs(tasks): 完成 ' + $('回寫任務狀態').first().json.slug + ' ' + $('回寫任務狀態').first().json.taskId + '（' + $('回寫任務狀態').first().json.jiraKey + '）') + ' && git push origin feature/' + $('回寫任務狀態').first().json.jiraKey, cwd: 'D:/06_Workspace/Workspace_GitHub/xu3clayu83ire/alag-addyosmani-demos/awtw-short-url-service-agent' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4768,
        0
      ],
      "id": "a1b2c3d4-0008-4aaa-9008-000000000008",
      "name": "git commit（docs）"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "解析票面",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析票面": {
      "main": [
        [
          {
            "node": "讀取 tasks-backend.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 tasks-backend.md": {
      "main": [
        [
          {
            "node": "讀取 tasks-devops.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 tasks-devops.md": {
      "main": [
        [
          {
            "node": "讀取 tasks-qa.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 tasks-qa.md": {
      "main": [
        [
          {
            "node": "擷取任務區塊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "擷取任務區塊": {
      "main": [
        [
          {
            "node": "讀取 spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 spec": {
      "main": [
        [
          {
            "node": "讀取 design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 design": {
      "main": [
        [
          {
            "node": "讀取 package.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取 package.json": {
      "main": [
        [
          {
            "node": "組裝 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "組裝 Prompt": {
      "main": [
        [
          {
            "node": "準備 Claude Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "準備 Claude Body": {
      "main": [
        [
          {
            "node": "呼叫 Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "呼叫 Claude API": {
      "main": [
        [
          {
            "node": "解析回應",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析回應": {
      "main": [
        [
          {
            "node": "Guard IF - Has Additional Deps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF - Has Additional Deps": {
      "main": [
        [
          { "node": "npm install 額外依賴", "type": "main", "index": 0 }
        ],
        [
          { "node": "準備所有 Bodies", "type": "main", "index": 0 }
        ]
      ]
    },
    "npm install 額外依賴": {
      "main": [
        [
          { "node": "準備所有 Bodies", "type": "main", "index": 0 }
        ]
      ]
    },
    "準備所有 Bodies": {
      "main": [
        [
          {
            "node": "git checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git checkout": {
      "main": [
        [
          {
            "node": "Guard IF - Checkout 成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard IF - Checkout 成功": {
      "main": [
        [
          { "node": "寫入測試", "type": "main", "index": 0 }
        ],
        [
          { "node": "中止（Checkout 失敗，Jira 保持 In Progress）", "type": "main", "index": 0 }
        ]
      ]
    },
    "寫入測試": {
      "main": [
        [
          {
            "node": "執行測試紅燈",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查環境錯誤（紅燈）": {
      "main": [
        [
          { "node": "紅燈確認", "type": "main", "index": 0 }
        ]
      ]
    },
    "檢查環境錯誤（綠燈）": {
      "main": [
        [
          { "node": "綠燈確認", "type": "main", "index": 0 }
        ]
      ]
    },
    "綠燈確認": {
      "main": [
        [
          { "node": "git commit", "type": "main", "index": 0 }
        ],
        [
          { "node": "中止（綠燈未通過，Jira 保持 In Progress）", "type": "main", "index": 0 }
        ]
      ]
    },
    "執行測試紅燈": {
      "main": [
        [
          {
            "node": "檢查環境錯誤（紅燈）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "紅燈確認": {
      "main": [
        [
          {
            "node": "寫入業務邏輯",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TDD 阻斷（測試未 Fail）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "寫入業務邏輯": {
      "main": [
        [
          {
            "node": "執行測試綠燈",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "執行測試綠燈": {
      "main": [
        [
          {
            "node": "檢查環境錯誤（綠燈）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git commit": {
      "main": [
        [
          {
            "node": "建立 GitHub PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "建立 GitHub PR": {
      "main": [
        [
          {
            "node": "取得 Jira Transitions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得 Jira Transitions": {
      "main": [
        [
          {
            "node": "解析 Jira Transition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析 Jira Transition": {
      "main": [
        [
          {
            "node": "更新 Jira 狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新 Jira 狀態": {
      "main": [
        [
          {
            "node": "讀取任務檔（回寫用）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "讀取任務檔（回寫用）": {
      "main": [
        [
          {
            "node": "回寫任務狀態",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "回寫任務狀態": {
      "main": [
        [
          {
            "node": "寫回任務檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "寫回任務檔": {
      "main": [
        [
          {
            "node": "git commit（docs）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8c820217-3941-41a1-a2fe-4f6590daae35",
  "meta": {
    "instanceId": "d5467582d0558780a4114f5dae7877a85f46503c7548a96c5fb8fb8a2693dd5c"
  },
  "nodeGroups": [],
  "id": "SUZbxSPac7bbzzla",
  "tags": []
}
