n8n-workflows/asus-dev-workflow.json
{
  "name": "asus-dev-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-inprogress",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "d77b8285-cba8-4b31-a3ea-3bc2d03190c2",
      "name": "Webhook",
      "webhookId": "4ddc611a-fc45-47a9-82fc-fb36cd6076bf"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst issue = payload.issue ?? {};\nconst fields = issue.fields ?? {};\n\nconst status = fields.status?.name ?? '';\nif (status !== 'In Progress') {\n  return [];\n}\n\nconst descText = JSON.stringify(fields.description ?? '');\nconst tddMatch = descText.match(/測試命名[：:]\\s*`?([^`\\n\"]+)`?/);\nconst tddDod = tddMatch ? tddMatch[1].trim() : '';\n\nconst slugMatch = descText.match(/Spec[：:][^\\n]*?\\/([^\\/\\s\"]+)\\.md/);\nconst slug = slugMatch ? slugMatch[1] : '';\n\nreturn [{\n  json: {\n    jiraKey: issue.key ?? '',\n    summary: fields.summary ?? '',\n    tddDod,\n    slug,\n    jiraUrl: `https://prostyliu.atlassian.net/browse/${issue.key}`,\n    issueId: issue.id ?? '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 0],
      "id": "1963cf20-bb79-4b6a-8c87-6484f84a9338",
      "name": "解析票面"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filePath\": \"D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service\\\\_spec\\\\phase3-ai-agent\\\\spec.md\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [368, 0],
      "id": "9f16374e-2980-461f-97e3-3ccf7674f1f9",
      "name": "讀取 spec"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/read-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filePath\": \"D:\\\\06_Workspace\\\\Workspace_GitHub\\\\xu3clayu83ire\\\\alag-addyosmani-demos\\\\awtw-short-url-service\\\\_spec\\\\phase3-ai-agent\\\\design.md\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [560, 0],
      "id": "a6d65707-5243-42b2-9533-0e4a5b035356",
      "name": "讀取 design"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('解析票面').first().json;\nconst specContent = $('讀取 spec').first().json.content ?? '';\nconst designContent = $('讀取 design').first().json.content ?? '';\n\nconst systemPrompt = `你是一位嚴格遵循 TDD 紀律的 TypeScript 後端工程師。\n你必須依照以下規範產出程式碼：\n- 函式長度上限 50 行\n- 所有錯誤處理必須有繁體中文上下文，禁止 silent fail\n- 測試命名格式：應該_<預期行為>_當<條件>\n- 禁止直接產出業務邏輯，必須先產出測試檔案\n\n你的輸出必須是嚴格的 JSON 格式：\n{\n  \"test_file_path\": \"test/xxx.test.ts\",\n  \"test_file_content\": \"（完整測試檔案內容）\",\n  \"impl_file_path\": \"src/xxx.ts\",\n  \"impl_file_content\": \"（完整業務邏輯內容）\",\n  \"commit_message\": \"feat(backend): [票號] 實作功能描述\"\n}`;\n\nconst userPrompt = `Jira 票號：${ticket.jiraKey}\n任務標題：${ticket.summary}\nTDD 完成定義：${ticket.tddDod}\n\n規格文件內容：\n${specContent}\n\n設計文件內容：\n${designContent}\n\n請依照上述規格，產出這張票的測試檔案與業務邏輯實作。`;\n\nreturn [{ json: { systemPrompt, userPrompt, jiraKey: ticket.jiraKey, jiraUrl: ticket.jiraUrl, issueId: ticket.issueId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 0],
      "id": "90ecf6a5-2d45-47e5-969a-3ff697f3d2cf",
      "name": "組裝 Prompt"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    claudeBody: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 4096,\n      system: item.systemPrompt,\n      messages: [{ role: 'user', content: item.userPrompt }]\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 0],
      "id": "435f3537-cc51-4d6b-b744-48e3f65a0ff1",
      "name": "準備 Claude Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1072, 0],
      "id": "0b83f5e9-33c5-4848-bf9b-d296d8a14c89",
      "name": "呼叫 Claude API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JwXk0zNVIaFGavnY",
          "name": "claude-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content?.[0]?.text ?? '';\n\nconst jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error('Claude 回應無法解析為 JSON：' + rawText.substring(0, 200));\n}\n\nconst parsed = JSON.parse(jsonMatch[0]);\nconst required = ['test_file_path', 'test_file_content', 'impl_file_path', 'impl_file_content', 'commit_message'];\nconst missing = required.filter(k => !parsed[k]);\n\nif (missing.length > 0) {\n  throw new Error(`Claude 回應缺少必要欄位：${missing.join(', ')}`);\n}\n\nconst prev = $('準備 Claude Body').first().json;\nreturn [{\n  json: {\n    ...parsed,\n    jiraKey: prev.jiraKey,\n    jiraUrl: prev.jiraUrl,\n    issueId: prev.issueId,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 0],
      "id": "e6a9c203-e2e0-4629-b812-aee78e9304b6",
      "name": "解析回應"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst basePath = 'D:/06_Workspace/Workspace_GitHub/xu3clayu83ire/alag-addyosmani-demos/awtw-short-url-service';\n\nreturn [{\n  json: {\n    ...item,\n    body_gitCheckout: JSON.stringify({\n      command: 'git checkout main && git pull origin main && git checkout -b feature/' + item.jiraKey,\n      cwd: basePath\n    }),\n    body_writeTest: JSON.stringify({\n      filePath: basePath + '/' + item.test_file_path,\n      content: item.test_file_content\n    }),\n    body_runTest: JSON.stringify({\n      command: 'npm run test',\n      cwd: basePath\n    }),\n    body_writeImpl: JSON.stringify({\n      filePath: basePath + '/' + item.impl_file_path,\n      content: item.impl_file_content\n    }),\n    body_gitCommit: JSON.stringify({\n      command: 'git add . && git commit -m ' + JSON.stringify(item.commit_message) + ' && git push origin feature/' + item.jiraKey,\n      cwd: basePath\n    }),\n    body_githubPR: JSON.stringify({\n      title: '[' + item.jiraKey + '] ' + item.summary,\n      head: 'feature/' + item.jiraKey,\n      base: 'main',\n      body: '## ADW 自動產生 PR\\n\\n- Jira：' + item.jiraUrl + '\\n- 由 ADW Phase 3 自動建立\\n\\n## TDD 驗證\\n- 紅燈確認（測試先 Fail）\\n- 綠燈確認（測試全數 Pass）'\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1456, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "準備所有 Bodies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_gitCheckout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1632, 0],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "git checkout"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/write-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_writeTest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1808, 0],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "寫入測試"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_runTest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1984, 0],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "執行測試紅燈"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-0001-0001-0001",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2160, 0],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "紅燈確認"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2336, 200],
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "TDD 阻斷（測試未 Fail）"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/write-file",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_writeImpl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2336, 0],
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "寫入業務邏輯"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_runTest }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2512, 0],
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "執行測試綠燈"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_gitCommit }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2688, 0],
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "git commit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/xu3clayu83ire/alag-addyosmani-demos/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('準備所有 Bodies').first().json.body_githubPR }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2864, 0],
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "建立 GitHub PR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_GITHUB_CRED",
          "name": "GitHub - ADW"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://prostyliu.atlassian.net/rest/api/3/issue/{{ $('準備所有 Bodies').first().json.jiraKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3040, 0],
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "取得 Jira Transitions",
      "credentials": {
        "httpBasicAuth": {
          "id": "PLACEHOLDER_JIRA_CRED",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst transitions = response.transitions || [];\nconst target = transitions.find(t =>\n  t.name === 'In Review' ||\n  t.name === 'Review' ||\n  (t.to && t.to.name === 'In Review')\n);\n\nif (!target) {\n  const names = transitions.map(t => t.name).join(', ');\n  throw new Error('找不到 In Review 轉換。可用轉換：' + names);\n}\n\nconst prev = $('準備所有 Bodies').first().json;\nreturn [{\n  json: {\n    jiraKey: prev.jiraKey,\n    jiraTransitionId: target.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3216, 0],
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "解析 Jira Transition"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://prostyliu.atlassian.net/rest/api/3/issue/{{ $json.jiraKey }}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"transition\":{\"id\":\"{{ $json.jiraTransitionId }}\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3392, 0],
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "更新 Jira 狀態",
      "credentials": {
        "httpBasicAuth": {
          "id": "PLACEHOLDER_JIRA_CRED",
          "name": "Jira Basic Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "解析票面", "type": "main", "index": 0 }]]
    },
    "解析票面": {
      "main": [[{ "node": "讀取 spec", "type": "main", "index": 0 }]]
    },
    "讀取 spec": {
      "main": [[{ "node": "讀取 design", "type": "main", "index": 0 }]]
    },
    "讀取 design": {
      "main": [[{ "node": "組裝 Prompt", "type": "main", "index": 0 }]]
    },
    "組裝 Prompt": {
      "main": [[{ "node": "準備 Claude Body", "type": "main", "index": 0 }]]
    },
    "準備 Claude Body": {
      "main": [[{ "node": "呼叫 Claude API", "type": "main", "index": 0 }]]
    },
    "呼叫 Claude API": {
      "main": [[{ "node": "解析回應", "type": "main", "index": 0 }]]
    },
    "解析回應": {
      "main": [[{ "node": "準備所有 Bodies", "type": "main", "index": 0 }]]
    },
    "準備所有 Bodies": {
      "main": [[{ "node": "git checkout", "type": "main", "index": 0 }]]
    },
    "git checkout": {
      "main": [[{ "node": "寫入測試", "type": "main", "index": 0 }]]
    },
    "寫入測試": {
      "main": [[{ "node": "執行測試紅燈", "type": "main", "index": 0 }]]
    },
    "執行測試紅燈": {
      "main": [[{ "node": "紅燈確認", "type": "main", "index": 0 }]]
    },
    "紅燈確認": {
      "main": [
        [{ "node": "寫入業務邏輯", "type": "main", "index": 0 }],
        [{ "node": "TDD 阻斷（測試未 Fail）", "type": "main", "index": 0 }]
      ]
    },
    "寫入業務邏輯": {
      "main": [[{ "node": "執行測試綠燈", "type": "main", "index": 0 }]]
    },
    "執行測試綠燈": {
      "main": [[{ "node": "git commit", "type": "main", "index": 0 }]]
    },
    "git commit": {
      "main": [[{ "node": "建立 GitHub PR", "type": "main", "index": 0 }]]
    },
    "建立 GitHub PR": {
      "main": [[{ "node": "取得 Jira Transitions", "type": "main", "index": 0 }]]
    },
    "取得 Jira Transitions": {
      "main": [[{ "node": "解析 Jira Transition", "type": "main", "index": 0 }]]
    },
    "解析 Jira Transition": {
      "main": [[{ "node": "更新 Jira 狀態", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0ef59741-98fb-4ca0-8d48-329a9c1d5cf9",
  "meta": {
    "instanceId": "d5467582d0558780a4114f5dae7877a85f46503c7548a96c5fb8fb8a2693dd5c"
  },
  "nodeGroups": [],
  "id": "5lyKDd0sIQ6HBM5i",
  "tags": []
}
