n8n-workflows/asus-notion-to-jira-hugo.json
{
  "name": "asus-notion-to-jira-hugo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        832,
        112
      ],
      "id": "cecf476d-722e-443a-99eb-77f9140e22e8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1056,
        -144
      ],
      "id": "155fc2f3-6960-4c0e-88bc-eeafd88dbdcc",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4dfde9aa-a7e5-40e0-b9c1-26df9b8b333d",
              "leftValue": "={{ $json.Jira_Epic_Key.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        16
      ],
      "id": "03eb9de2-92ce-407e-aa95-0be5a7f5ad5f",
      "name": " T01 IF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "546cf4ea-2966-4243-ac7d-6dbbe5e9712b",
              "leftValue": "={{ $json.Tasks_To_Open.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -240
      ],
      "id": "34c2c990-c1b8-46f9-a4dd-1f4781c7849d",
      "name": " T02 IF"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "awtw-short-url-service"
        },
        "issueType": {
          "__rl": true,
          "value": "10003",
          "mode": "list",
          "cachedResultName": "任務"
        },
        "summary": "={{ $json.title }}",
        "additionalFields": {
          "description": "=## 任務說明\n{{ $json.title }}\n\n## TDD 完成定義 (DoD)\n- [ ] 測試命名：`{{ $json.tdd }}`\n- [ ] 🔴 紅燈：測試必須先 Fail\n- [ ] 🟢 綠燈：實作後測試 Pass，覆蓋率 100%\n- [ ] 🔵 藍燈：重構完成，git commit 已執行\n\n## 規格來源\n- Notion：{{ $json.notionPageUrl }}\n- Spec：{{ $json.specUrl }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1280,
        -320
      ],
      "id": "720cbad5-baea-45e9-8a49-46300735ecd0",
      "name": "T04 Jira Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "uPfqJ1jXZhdrMiJz",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Jira_Epic_Key|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.allKeys }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1680,
        -320
      ],
      "id": "bc9168f1-ac38-459a-bdcd-0f8e5129c15e",
      "name": "T05 Update Notion",
      "credentials": {
        "notionApi": {
          "id": "yqbs6rdfnHAnUZoM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst title = item.Name ?? '';\nconst slug = item.Slug ?? '';\nconst weight = item.Weight ?? 99;\nconst body = item.Tasks_To_Open ?? '';\n\nconst content = `---\ntitle: \"${title}\"\nweight: ${weight}\n---\n\n${body}\n`;\n\nreturn [{ json: { slug, content } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -512
      ],
      "id": "c391c1c9-79bb-4f3e-b945-6d87bcb7bb7d",
      "name": "T06 Hugo Front Matter"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.Tasks_To_Open ?? '';\nconst lines = raw.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n\nreturn lines.map(line => {\n  const [left, right] = line.split('｜TDD:');\n  const roleMatch = left ? left.match(/^\\[(.+?)\\]/) : null;\n  return {\n    json: {\n      role: roleMatch ? roleMatch[1] : 'Backend',\n      title: left ? left.replace(/^\\[.+?\\]\\s*/, '').trim() : '',\n      tdd: right ? right.trim() : '',\n      notionPageId: item.id ?? '',\n      notionPageUrl: '',\n      specUrl: item.Spec_URL ?? '',\n      slug: item.Slug ?? '',\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -320
      ],
      "id": "cc59862d-121f-472e-ae76-52bdacc0db9c",
      "name": "T03 Cut Task "
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allKeys = items.map(item => item.json.key).join(', ');\nconst notionPageId = $('T03 Cut Task ').first().json.notionPageId;\n\nreturn [{ json: { allKeys, notionPageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -320
      ],
      "id": "952e1560-c21c-447b-b37c-23773dfe6609",
      "name": "T08 Combine Jira Key"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst item = $input.first().json;\n\nconst filePath = `/data/projects/alag-addyosmani-demos/awtw-short-url-service/hugo-docs/content/docs/${item.slug}.md`;\n\nfs.writeFileSync(filePath, item.content, 'utf8');\n\nreturn [{ json: { success: true, filePath } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -512
      ],
      "id": "80b44b26-181c-4a2d-a1b0-050e308799fc",
      "name": "T07 Hugo docs"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        48,
        16
      ],
      "id": "bd189c58-187e-49fe-85e4-67b6ced34fc8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "38f577a0-a41d-80a7-9339-e179a5d8f9d5",
          "mode": "list",
          "cachedResultName": "功能規格總表",
          "cachedResultUrl": "https://app.notion.com/p/38f577a0a41d80a79339e179a5d8f9d5"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Read to Plan"
            },
            {
              "key": "Jira_Epic_Key|rich_text",
              "condition": "is_empty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        256,
        16
      ],
      "id": "bb9f479b-e433-4d5e-bf1d-20b15e0aa5c0",
      "name": "Notion Get many",
      "credentials": {
        "notionApi": {
          "id": "yqbs6rdfnHAnUZoM",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    id: item.json.id,\n    Name: item.json.name,\n    Slug: item.json.property_slug,\n    Weight: item.json.property_weight,\n    Tasks_To_Open: item.json.property_tasks_to_open,\n    Jira_Epic_Key: item.json.property_jira_epic_key,\n    Spec_URL: item.json.property_spec_url,\n    url: item.json.url,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        16
      ],
      "id": "11f63ec6-dc93-463a-b70c-42a51413374b",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    " T01 IF": {
      "main": [
        [
          {
            "node": " T02 IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " T02 IF": {
      "main": [
        [
          {
            "node": "T03 Cut Task ",
            "type": "main",
            "index": 0
          },
          {
            "node": "T06 Hugo Front Matter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T04 Jira Create an issue": {
      "main": [
        [
          {
            "node": "T08 Combine Jira Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T06 Hugo Front Matter": {
      "main": [
        [
          {
            "node": "T07 Hugo docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T03 Cut Task ": {
      "main": [
        [
          {
            "node": "T04 Jira Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "T08 Combine Jira Key": {
      "main": [
        [
          {
            "node": "T05 Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Notion Get many",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Get many": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": " T01 IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "632f55f3-3052-477f-9e7a-d66944529ddf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5467582d0558780a4114f5dae7877a85f46503c7548a96c5fb8fb8a2693dd5c"
  },
  "nodeGroups": [],
  "id": "n7h3hbcJp4M32z9r",
  "tags": []
}